<!DOCTYPE html>
<html>
<head>
  <title>TodoAngular</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  
</head>
<body ng-app"TodoApp">

<!-- below ng-view div used when rendering pages with angular router -->
  <div ng-view>
    
  </div>

<!-- Take me out when working - I am the app.html.erb in views/layouts -->

</body>
</html>
